#content {
     margin-left: 20px;
}
.ImageMac {
	width: 100%;
	min-width:200px;
}

.Icon {
	width: 100%;
	min-width: 70px;
	max-width: 130px;
	transition: transform .2s;
	text-align: center;
}

.Icon:hover {
	transform: scale(1.5);
	z-index: 2;
}

.G3Background {
	background-image: url('images/backgrounds/g3Background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

@font-face {
	font-family: AppleGaramond;
	src: url(AppleGaramond-Light.ttf);
}

.AppleGaramond {
	font-family: AppleGaramond;
}

.navBarCustom {
    max-width: fit-content;
	margin: auto;
	background-color: #889abe;
}


.ImgSel {
	width: 100%;
	min-width: 70px;
	max-width: 130px;
	text-align: center;
	border-width: 0px;
}

.ImgSel:hover {
	border-style: solid;
    border-width: 5px;
}

.ImgSel:checked  {
	border-style: solid;
    border-width: 5px;
}
