#content {
     margin-left: 20px;
}
.ImageMac {
	width: 100%;
	min-width:400px;
}

.Icon {
	width: 50%;
	min-width: 100px;
	transition: transform .2s;
}

.Icon:hover {
	transform: scale(1.5);
}

.G3Background {
	background-image: url('images/backgrounds/g3Background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

@font-face {
	font-family: AppleGaramond;
	src: url(AppleGaramond-Light.ttf);
}

.AppleGaramond {
	font-family: AppleGaramond;
}

.navBarCustom {
    max-width: fit-content;
	margin: auto;
	background-color: #889abe;
}