{% extends "layout.html" %}

{% set active_page = "page3" %}

{% block title %}Page 3{% endblock %}

{% block content %}
	<div class="container-flex d-flex justify-content-center p-5">
		<div class="row">
			<div class="col">
				<h1>Repairs.</h1>
			</div>
		</div>
	</div>
{% endblock %}

{% block Form %}
   <div class="container">
		<div class="row">
			<h1>Please specify the type of proccesor your Mac uses.</h1>
		</div>
		<div class="row">
			<p>All Apple computers since the origional iMac have used either PPC, Intel, Or Apple Silicon (PPC being the oldest.) The name of your mac often reflects what proccesor its using.</p>
		</div>
		
	   <div class="row">
		  <div class="col">
		   <form action="/computerSelect">
			<div class="form-check">
				<input type="radio" class="form-check-input" id="ppc" name="proccesor" value="ppc">PPC
				<label class="form-check-label" for="ppc"></label>
			</div>
			<div class="form-check">
				<input type="radio" class="form-check-input" id="intel" name="proccesor" value="intel">Intel
				<label class="form-check-label" for="intel"></label>
			</div>
			<div class="form-check">
				<input type="radio" class="form-check-input" disabled>Apple Silicon
				<label class="form-check-label"></label>
			</div>
			<input type="submit" class="btn btn-primary">
		   </form>
		  </div>
	    </div>
   </div>
{% endblock %}
